Repository jjfumero/level-zero-tests, changes with the owners that CODEOWNERS names for each.
All owners: @ledettwy, @nrspruit, @jchodor, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger, @rwmcguir, @sanchez1

CODEOWNERS:

# core cmake
/cmake/ @ledettwy @nrspruit
/CMakeLists.txt @ledettwy @nrspruit

# coding standards
/.clang-format @nrspruit @ledettwy
/.clang-tidy @nrspruit @ledettwy
/clang-format-patch.sh @nrspruit @ledettwy

# build automation
/docker/ @ledettwy @jchodor
/.gitlab-ci.yml @ledettwy @jchodor
/ci-build-linux.sh @ledettwy @jchodor
/ci-build-windows.bat @ledettwy @jchodor

# test code
conformance_tests/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
perf_tests/ @rwmcguir @sanchez1 @jarteaga
utils/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger

documentation update
  CONTRIBUTING.md
Owners: none

Separate third_party/level_zero from cmake
  ci-build-linux.sh
  ci-build-windows.bat
  cmake/FindLevelZero.cmake
Owners: @ledettwy, @jchodor, @nrspruit

doc fix
  BUILD.md
Owners: none

clarify tag usage
  CONTRIBUTING.md
Owners: none

annotate dockerfiles
  docker/ubuntu1804/Dockerfile
  docker/windows/Dockerfile
Owners: @ledettwy, @jchodor

doc update
  BUILD.md
  CONTRIBUTING.md
Owners: none

Fix windows pipeline
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Enable irepo cache for linux
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Use public version of googletest
  .gitlab-ci.yml
  ci-build-linux.sh
  ci-build-windows.bat
  dependencies.yml
Owners: @ledettwy, @jchodor

Remove gerrit-gfx auth instructions from documentation
  CONTRIBUTING.md
Owners: none

Enable irepo caching for windows build
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Enable xeDeviceGroupGetDriverVersion() call
  utils/xe_test_harness/src/xe_test_harness_driver.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add media data files to .gitignore
  .gitignore
Owners: none

Downgrade boost to 1.65
  BUILD.md
  CMakeLists.txt
  ci-build-windows.bat
  docker/ubuntu1804/Dockerfile
  docker/windows/Dockerfile
  utils/image/src/image.cpp
Owners: @ledettwy, @nrspruit, @jchodor, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add tests for shared memory access on host to test_xe_memory
  conformance_tests/test_xe_copy/src/test_xe_copy.cpp
  conformance_tests/test_xe_memory/CMakeLists.txt
  conformance_tests/test_xe_memory/src/test_xe_unified_memory.cpp
  conformance_tests/test_xe_memory/xe_unified_mem_test.cl
  conformance_tests/test_xe_memory/xe_unified_mem_test.spv
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_cmdlist.hpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_memory.hpp
  utils/xe_test_harness/src/xe_test_harness_cmdlist.cpp
  utils/xe_test_harness/src/xe_test_harness_memory.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Remove dind workaround and replace with fix
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Fix device properties size allocation in device conformance test
  conformance_tests/test_xe_device/src/test_xe_device.cpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_device.hpp
  utils/xe_test_harness/src/xe_test_harness_device.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Replace fork() call in test_xe_ipc with system() call
  conformance_tests/test_xe_ipc/CMakeLists.txt
  conformance_tests/test_xe_ipc/src/test_xe_ipc.cpp
  conformance_tests/test_xe_ipc/src/test_xe_ipc_helper.cpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_memory.hpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add conformance tests for xe_module.h
  conformance_tests/test_xe_module/CMakeLists.txt
  conformance_tests/test_xe_module/src/test_xe_module.cpp
  conformance_tests/test_xe_module/xe_module_add.cl
  conformance_tests/test_xe_module/xe_module_add.spv
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_module.hpp
  utils/xe_test_harness/src/xe_test_harness_module.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add doc section for kernel organization
  CONTRIBUTING.md
Owners: none

Fix typo in documentation
  CONTRIBUTING.md
Owners: none

Make default device/device group static
  utils/xe_utils/src/xe_utils.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Fix IPC test
  conformance_tests/test_xe_event/src/test_xe_event.cpp
  conformance_tests/test_xe_ipc/src/test_xe_ipc.cpp
  conformance_tests/test_xe_ipc/src/test_xe_ipc_helper.cpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_event.hpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_memory.hpp
  utils/xe_test_harness/src/xe_test_harness_event.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add xeImageGetProperties conformance tests to test_xe_image
  conformance_tests/test_xe_image/src/test_xe_image.cpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_image.hpp
  utils/xe_test_harness/src/xe_test_harness_image.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Adding basic create and destroy tests for sampler
  conformance_tests/test_xe_sampler/src/test_xe_sampler.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Memory copy Device mem to Device mem with verify
  conformance_tests/test_xe_copy/src/test_xe_copy.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add conformance tests for SharedSystemMemory allocations
  conformance_tests/test_xe_memory/src/test_xe_unified_memory.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Updated base version to match latest L0 release v0.2.2
  CMakeLists.txt
Owners: @ledettwy, @nrspruit

Modify P2P Concurrent Atomic memory access test
  conformance_tests/test_xe_p2p/CMakeLists.txt
  conformance_tests/test_xe_p2p/kernels/xe_atomic_and_concurrent_access.cl
  conformance_tests/test_xe_p2p/kernels/xe_atomic_and_concurrent_access.spv
  conformance_tests/test_xe_p2p/src/test_xe_p2p.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Updated Image test dimensions to reduce memory and time consumption
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_image.hpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Update level_zero build artifact to v0.2.2
  dependencies.yml
Owners: none

Updated image test to generate less combinations and loop instead
  conformance_tests/test_xe_image/src/test_xe_image.cpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_image.hpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Fixed Event Query test to correctly check for Not Ready
  conformance_tests/test_xe_event/src/test_xe_event.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Pre-merge test execution
  .gitlab-ci.yml
  CONTRIBUTING.md
  ci-run-linux.sh
  ci-watchdog-stall.sh
  docker/build-ubuntu1804/Dockerfile
  docker/build-windows/Dockerfile
  docker/run-ubuntu1804/Dockerfile
  test_config.yml
Owners: @ledettwy, @jchodor

Switch to granular L0 asset versions, update docs
  CONTRIBUTING.md
  dependencies.yml
Owners: none

Add event signaling and kernel tests for xe_barrier
  conformance_tests/test_xe_barrier/CMakeLists.txt
  conformance_tests/test_xe_barrier/kernels/xe_barrier_add.cl
  conformance_tests/test_xe_barrier/kernels/xe_barrier_add.spv
  conformance_tests/test_xe_barrier/src/test_xe_barrier.cpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_cmdlist.hpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_module.hpp
  utils/xe_test_harness/src/xe_test_harness_cmdlist.cpp
  utils/xe_test_harness/src/xe_test_harness_module.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Enable continuous delivery of plain artifacts
  .gitlab-ci.yml
  CMakeLists.txt
  CONTRIBUTING.md
  ci-run-linux.sh
Owners: @ledettwy, @jchodor, @nrspruit

Fix path for runtime artifacts
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Fix runtime artifact paths (again)
  .gitlab-ci.yml
  ci-run-linux.sh
Owners: @ledettwy, @jchodor

Runtime artifact path fix
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor
