Repository jjfumero/level-zero-tests, changes with the owners that CODEOWNERS names for each.
All owners: @ledettwy, @nrspruit, @jchodor, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @wjordan, @davidoli, @rwmcguir, @sanchez1

CODEOWNERS:

# core cmake
/cmake/ @ledettwy @nrspruit
/CMakeLists.txt @ledettwy @nrspruit

# coding standards
/.clang-format @nrspruit @ledettwy
/.clang-tidy @nrspruit @ledettwy
/clang-format-patch.sh @nrspruit @ledettwy

# build/run automation
/docker/ @ledettwy @jchodor @nrspruit
/.gitlab-ci.yml @ledettwy @jchodor @nrspruit
/ci/ @ledettwy @jchodor @nrspruit

# test code
conformance_tests/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
conformance_tests/core/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
conformance_tests/tools/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger @macabral @mraghuwa @tvilvara @jitendra @kondasai @guptasa2 @jacekjan
conformance_tests/tools/sysman/ @wjordan @macabral @mraghuwa @tvilvara @jitendra @kondasai @guptasa2 @jacekjan @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
conformance_tests/tools/test_api_tracing/ @davidoli @macabral @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
perf_tests/ @rwmcguir @sanchez1 @jarteaga
utils/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger

Extend test of copy image region.
  ci/ci_test_config.yml
  conformance_tests/core/test_copy/src/test_copy.cpp
  conformance_tests/core/test_image/src/test_image_copy_swizzle.cpp
  utils/test_harness/include/test_harness/test_harness_image.hpp
  utils/test_harness/src/test_harness_image.cpp
Owners: @ledettwy, @jchodor, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add conformance tests for zetModuleGetKernelNames
  conformance_tests/tools/pin/CMakeLists.txt
  conformance_tests/tools/pin/README.md
  conformance_tests/tools/pin/kernels/0kernels.cl
  conformance_tests/tools/pin/kernels/0kernels.spv
  conformance_tests/tools/pin/kernels/1000kernels.cl
  conformance_tests/tools/pin/kernels/1000kernels.spv
  conformance_tests/tools/pin/kernels/100kernels.cl
  conformance_tests/tools/pin/kernels/100kernels.spv
  conformance_tests/tools/pin/kernels/10kernels.cl
  conformance_tests/tools/pin/kernels/10kernels.spv
  conformance_tests/tools/pin/kernels/1kernel.cl
  conformance_tests/tools/pin/kernels/1kernel.spv
  conformance_tests/tools/pin/src/main.cpp
  conformance_tests/tools/pin/src/test_pin.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan

Fix IPC Mem Handle Close failure with free of correct memory
  conformance_tests/core/test_ipc/src/test_ipc.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

add Conformance tests for zetSysmanFrequencySetRange
  conformance_tests/tools/sysman/test_frequency/src/test_frequency.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Creating Microbenchmark for Host2Device and Device2Host
  perf_tests/xe_image_copy/CMakeLists.txt
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/options.cpp
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

Bug fix to append_memory_set
  conformance_tests/core/test_cmdlist/src/test_cmdlist.cpp
  conformance_tests/core/test_cmdlist/src/test_cmdlist_immediate.cpp
  conformance_tests/core/test_copy/src/test_copy_events.cpp
  conformance_tests/core/test_fence/src/test_fence.cpp
  conformance_tests/core/test_ipc/src/test_ipc_comm_sender.cpp
  conformance_tests/core/test_memory/src/test_memory.cpp
  conformance_tests/core/test_memory/src/test_param_tests.cpp
  conformance_tests/core/test_p2p/src/test_p2p.cpp
  utils/test_harness/include/test_harness/test_harness_cmdlist.hpp
  utils/test_harness/src/test_harness_cmdlist.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add conformance tests for tracing with multiple threads
  conformance_tests/tools/test_api_tracing/CMakeLists.txt
  conformance_tests/tools/test_api_tracing/src/test_api_tracing_threading.cpp
Owners: @davidoli, @macabral, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Fixed Command List Reuse test to remove testing of GPU page faults
  conformance_tests/core/test_cmdlist/src/test_cmdlist.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Fixing the bandwidth calculation for measureHost2Device2Host() performs round trip image copy
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

xe_bandwidth microbenchmark (host<->device BW)
  perf_tests/CMakeLists.txt
  perf_tests/common/include/xe_app.hpp
  perf_tests/common/src/xe_app.cpp
  perf_tests/xe_bandwidth/CMakeLists.txt
  perf_tests/xe_bandwidth/README.md
  perf_tests/xe_bandwidth/include/xe_bandwidth.hpp
  perf_tests/xe_bandwidth/src/options.cpp
  perf_tests/xe_bandwidth/src/xe_bandwidth.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

test_module: Fix a paramters for MULTIPLE_INDIRECT test
  conformance_tests/core/test_module/src/test_module.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Update level zero version
  dependencies.yml
Owners: none

Add conformance test for zetSysmanStandbyGet
  conformance_tests/tools/sysman/CMakeLists.txt
  conformance_tests/tools/sysman/test_standby/CMakeLists.txt
  conformance_tests/tools/sysman/test_standby/README.md
  conformance_tests/tools/sysman/test_standby/src/main.cpp
  conformance_tests/tools/sysman/test_standby/src/test_standby.cpp
  utils/test_harness/CMakeLists.txt
  utils/test_harness/tools/sysman/include/test_harness_sysman_standby.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_standby.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Using C++ Boost library for command line options parsing for xe_image_copy
  perf_tests/xe_image_copy/CMakeLists.txt
  perf_tests/xe_image_copy/README.md
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/options.cpp
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

xe_image_copy: Add support for image format layout, image type, image flags, image format
  perf_tests/common/include/xe_app.hpp
  perf_tests/common/src/xe_app.cpp
  perf_tests/xe_image_copy/CMakeLists.txt
  perf_tests/xe_image_copy/README.md
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/options.cpp
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
  perf_tests/xe_nano/src/benchmark_template/set_parameter.cpp
  utils/utils/include/utils/utils.hpp
  utils/utils/src/utils.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga, @nrspruit, @jlockett, @byates, @johnfalk, @pjreger

Add conformance test for zetSysmanStandbyGetMode
  conformance_tests/tools/sysman/test_standby/src/test_standby.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_standby.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_standby.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add conformance test for zetSysmanStandbySetMode
  conformance_tests/tools/sysman/test_standby/src/test_standby.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_standby.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_standby.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Update CMakeLists.txt with L0 4.0
  CMakeLists.txt
Owners: @ledettwy, @nrspruit

Add conformance test for zetSysmanStandbyGetProperties
  conformance_tests/tools/sysman/test_standby/src/test_standby.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_standby.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_standby.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

added basic frame work of folders needed for Sysman PCI conformance test
  conformance_tests/tools/sysman/test_pci/CMakeLists.txt
  conformance_tests/tools/sysman/test_pci/README.md
  conformance_tests/tools/sysman/test_pci/src/main.cpp
  conformance_tests/tools/sysman/test_pci/src/test_pci.cpp
  utils/test_harness/CMakeLists.txt
  utils/test_harness/tools/sysman/include/test_harness_sysman_pci.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_pci.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Implement CTS for zetSysmanPciGetState
  conformance_tests/tools/sysman/test_pci/src/test_pci.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_pci.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_pci.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add conformance test for zetSysmanPowerGet
  conformance_tests/tools/sysman/test_power/CMakeLists.txt
  conformance_tests/tools/sysman/test_power/README.md
  conformance_tests/tools/sysman/test_power/src/main.cpp
  conformance_tests/tools/sysman/test_power/src/test_power.cpp
  utils/test_harness/CMakeLists.txt
  utils/test_harness/tools/sysman/include/test_harness_sysman_power.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_power.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add conformance test for zetSysmanPowerGetProperties
  conformance_tests/tools/sysman/test_power/src/test_power.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_power.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_power.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Revert accidental mode change on source files
  perf_tests/xe_image_copy/src/options.cpp
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

Add conformance test for zetSysmanPowerGetLimits
  conformance_tests/tools/sysman/test_power/src/test_power.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_power.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_power.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

xe_image_copy: Add bandwidth benchmark for 1x1x1 image
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

Adding xeImageCopyLatency child class from base class for measuing BW/Latency for 1x1x1 Image
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

orrecting Latency measurements
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

correcting Latency measurements and applying review comments
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

Fixing the latency for H2D2H
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

Add conformance test for zetSysmanPowerSetLimits
  conformance_tests/tools/sysman/test_power/src/test_power.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_power.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_power.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Change from zetSysmanPowerGet to zetSysmanPowerGetLimits
  conformance_tests/tools/sysman/test_power/src/test_power.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

optional param data-validation to validate the copied image is correct or not
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/options.cpp
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

Add conformance test for zetSysmanFrequencyGetThrottleTime
  conformance_tests/tools/sysman/test_frequency/kernels/ze_matrix_multiplication.cl
  conformance_tests/tools/sysman/test_frequency/kernels/ze_matrix_multiplication.spv
  conformance_tests/tools/sysman/test_frequency/src/test_frequency.cpp
  conformance_tests/tools/sysman/test_power/src/test_power.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_frequency.hpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_power.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_frequency.cpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_power.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Update README.md with correct link to CONTRIBUTING file
  README.md
Owners: none

Add conformance test for zetSysmanPowerGetEnergyCounter update
  conformance_tests/tools/sysman/test_power/src/test_power.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_power.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_power.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Fix pattern for setting up buffer in P2P tests
  conformance_tests/core/test_p2p/src/test_p2p.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add conformance test for zetSysmanPowerGetEnergyThreshold
  conformance_tests/tools/sysman/test_power/src/test_power.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_power.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_power.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

fix typo for event index
  conformance_tests/core/test_event/src/test_event.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

added functionality to give xe_image_copy results in JSON format on demand
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/options.cpp
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga
