Repository jjfumero/level-zero-tests, changes with the owners that CODEOWNERS names for each.
All owners: @ledettwy, @nrspruit, @jchodor, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @wjordan, @davidoli, @rwmcguir, @sanchez1

CODEOWNERS:

# core cmake
/cmake/ @ledettwy @nrspruit
/CMakeLists.txt @ledettwy @nrspruit

# coding standards
/.clang-format @nrspruit @ledettwy
/.clang-tidy @nrspruit @ledettwy
/clang-format-patch.sh @nrspruit @ledettwy

# build/run automation
/docker/ @ledettwy @jchodor @nrspruit
/.gitlab-ci.yml @ledettwy @jchodor @nrspruit
/ci/ @ledettwy @jchodor @nrspruit

# test code
conformance_tests/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
conformance_tests/core/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
conformance_tests/tools/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger @macabral @mraghuwa @tvilvara @jitendra @kondasai @guptasa2 @jacekjan
conformance_tests/tools/sysman/ @wjordan @macabral @mraghuwa @tvilvara @jitendra @kondasai @guptasa2 @jacekjan @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
conformance_tests/tools/test_api_tracing/ @davidoli @macabral @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
perf_tests/ @rwmcguir @sanchez1 @jarteaga
utils/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger

Add conformance test for zetSysmanPowerSetEnergyThreshold
  conformance_tests/tools/sysman/test_power/src/test_power.cpp
  utils/test_harness/tools/sysman/include/test_harness_sysman_power.hpp
  utils/test_harness/tools/sysman/src/test_harness_sysman_power.cpp
Owners: @wjordan, @macabral, @mraghuwa, @tvilvara, @jitendra, @kondasai, @guptasa2, @jacekjan, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Change max xfer size for KBL and minor edits
  perf_tests/xe_bandwidth/include/xe_bandwidth.hpp
  perf_tests/xe_bandwidth/src/xe_bandwidth.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

CI refactor supporting use of pylzt module
  .gitlab-ci.yml
  ci/ci-generate-aubs.py
  ci/ci-regression.py
  ci/ci.py
  ci/managedpool.py
  docker/build-ubuntu1804.Dockerfile
  docker/build-windows.Dockerfile
  docker/ci-run/Dockerfile
  docker/fulsim.Dockerfile
  docker/pylzt.Dockerfile
  docker/runtime-ubuntu1804.Dockerfile
Owners: @ledettwy, @jchodor, @nrspruit

Fix variable expansion for deploy-runtime-image
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor, @nrspruit

Change to UNIX socket for IPC handle transfer
  conformance_tests/core/test_ipc/src/test_ipc.cpp
  conformance_tests/core/test_ipc/src/test_ipc_comm.cpp
  conformance_tests/core/test_ipc/src/test_ipc_comm.hpp
  conformance_tests/core/test_ipc/src/test_ipc_comm_receiver.cpp
  conformance_tests/core/test_ipc/src/test_ipc_comm_sender.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

xe_image_copy: Fix Segmentation Fault from Intance passed as Value
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

xe_image_copy: decouple bandwidth tests
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

xe_image_copy: decouple latency tests
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

xe_image_copy: Add spaces to highlight there are separate tests
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

xe_image_copy: Abstract away common objects across tests
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

xe_image_copy: Create common routine for data validation
  perf_tests/xe_image_copy/include/xe_image_copy.h
  perf_tests/xe_image_copy/src/xe_image_copy.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga
