Repository jjfumero/level-zero-tests, changes with the owners that CODEOWNERS names for each.
All owners: @ledettwy, @nrspruit, @jchodor, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger, @rwmcguir, @sanchez1

CODEOWNERS:

# core cmake
/cmake/ @ledettwy @nrspruit
/CMakeLists.txt @ledettwy @nrspruit

# coding standards
/.clang-format @nrspruit @ledettwy
/.clang-tidy @nrspruit @ledettwy
/clang-format-patch.sh @nrspruit @ledettwy

# build automation
/docker/ @ledettwy @jchodor
/.gitlab-ci.yml @ledettwy @jchodor
/ci-build-linux.sh @ledettwy @jchodor
/ci-build-windows.bat @ledettwy @jchodor

# test code
conformance_tests/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger
perf_tests/ @rwmcguir @sanchez1 @jarteaga
utils/ @nrspruit @jarteaga @jlockett @byates @johnfalk @pjreger

Updated xe_peak to match logging required from autobench integration
  perf_tests/xe_peak/src/dp_compute.cpp
  perf_tests/xe_peak/src/global_bw.cpp
  perf_tests/xe_peak/src/hp_compute.cpp
  perf_tests/xe_peak/src/integer_compute.cpp
  perf_tests/xe_peak/src/kernel_latency.cpp
  perf_tests/xe_peak/src/sp_compute.cpp
  perf_tests/xe_peak/src/transfer_bw.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

deploy-artifactory refactoring
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Add legacy artifacts for windows, tweak publish path
  .gitlab-ci.yml
  ci-build-linux.sh
Owners: @ledettwy, @jchodor

Adding Sampler Tests
  conformance_tests/CMakeLists.txt
  conformance_tests/test_xe_sampler/CMakeLists.txt
  conformance_tests/test_xe_sampler/kernels/xe_sampler.cl
  conformance_tests/test_xe_sampler/kernels/xe_sampler.spv
  conformance_tests/test_xe_sampler/src/test_xe_sampler.cpp
  utils/xe_test_harness/CMakeLists.txt
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_image.hpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_sampler.hpp
  utils/xe_test_harness/src/xe_test_harness_image.cpp
  utils/xe_test_harness/src/xe_test_harness_sampler.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Strip VERSION_SUFFIX of trailing newline
  CMakeLists.txt
Owners: @ledettwy, @nrspruit

Added fixed HP compute SPV binary
  perf_tests/xe_peak/kernels/xe_hp_compute.spv
Owners: @rwmcguir, @sanchez1, @jarteaga

Fix legacy windows zip artifact
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Add event signaling and coherency tests
  conformance_tests/test_xe_barrier/src/test_xe_barrier.cpp
  conformance_tests/test_xe_event/src/test_xe_event.cpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_cmdlist.hpp
  utils/xe_test_harness/src/xe_test_harness_cmdlist.cpp
  utils/xe_test_harness/src/xe_test_harness_event.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Adding test to reuse a command list multiple times
  conformance_tests/test_xe_cmdlist/src/test_xe_cmdlist.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Cleanup only. Change direct uses of append copy memory with calls into the test harness.
  conformance_tests/test_xe_cmdqueue/src/test_xe_cmdqueue.cpp
  conformance_tests/test_xe_copy/src/test_xe_copy.cpp
  conformance_tests/test_xe_fence/src/test_xe_fence.cpp
  conformance_tests/test_xe_memory_overcommit/src/test_xe_memory_overcommit.cpp
  conformance_tests/test_xe_p2p/src/test_xe_p2p.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Add new tests for access to host memory.
  conformance_tests/test_xe_memory/CMakeLists.txt
  conformance_tests/test_xe_memory/src/test_xe_host_memory.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Adding tests for event sequencing with copy APIs
  conformance_tests/test_xe_copy/CMakeLists.txt
  conformance_tests/test_xe_copy/src/test_xe_copy_events.cpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_cmdlist.hpp
  utils/xe_test_harness/src/xe_test_harness_cmdlist.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Update package version to 0.3.0 for new L0 release version
  CMakeLists.txt
Owners: @ledettwy, @nrspruit

v0.9 Native binary tests for ze_module.h
  conformance_tests/test_xe_module/CMakeLists.txt
  conformance_tests/test_xe_module/kernels/xe_module_build_error.cl
  conformance_tests/test_xe_module/kernels/xe_module_build_error.spv
  conformance_tests/test_xe_module/src/test_xe_module.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Disable broken windows job (temporary)
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Updated xe_peak with metrics to match clpeak in iceberg
  perf_tests/xe_peak/README.md
  perf_tests/xe_peak/include/xe_peak.h
  perf_tests/xe_peak/src/kernel_latency.cpp
  perf_tests/xe_peak/src/transfer_bw.cpp
  perf_tests/xe_peak/src/xe_peak.cpp
Owners: @rwmcguir, @sanchez1, @jarteaga

Paramaterize host and shared allocation tests in test_xe_memory.
  conformance_tests/test_xe_memory/CMakeLists.txt
  conformance_tests/test_xe_memory/src/test_xe_host_memory.cpp
  conformance_tests/test_xe_memory/src/test_xe_memory.cpp
  conformance_tests/test_xe_memory/src/test_xe_param_tests.cpp
  conformance_tests/test_xe_memory/src/test_xe_unified_memory.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Revert "Disable broken windows job (temporary)"
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Allow use of any registered ilab windows runner
  .gitlab-ci.yml
Owners: @ledettwy, @jchodor

Use a patched version of devtool
  docker/build-windows/Dockerfile
Owners: @ledettwy, @jchodor

Use devtool on windows instead of irepo
  .gitlab-ci.yml
  ci-build-windows.bat
  docker/build-windows/Dockerfile
Owners: @ledettwy, @jchodor

Clarify boost version comment in windows build dockerfile
  docker/build-windows/Dockerfile
Owners: @ledettwy, @jchodor

Make OpenCL interop support optional
  BUILD.md
  CMakeLists.txt
  ci-build-linux.sh
  ci-build-windows.bat
  cmake/FindLevelZero.cmake
  conformance_tests/CMakeLists.txt
  conformance_tests/test_xe_cl_interop/CMakeLists.txt
  dependencies.yml
  perf_tests/CMakeLists.txt
  utils/CMakeLists.txt
  utils/xe_test_harness/CMakeLists.txt
  utils/xe_utils/CMakeLists.txt
Owners: @ledettwy, @nrspruit, @jchodor, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger, @rwmcguir, @sanchez1

Fix typo in windows build config
  ci-build-windows.bat
Owners: @ledettwy, @jchodor

Make ci-build-windows.bat multi-line
  ci-build-windows.bat
Owners: @ledettwy, @jchodor

Do OpenCL version check in cmake
  cmake/FindLevelZero.cmake
Owners: @ledettwy, @nrspruit

Show runtime errors in run log
  ci-run-linux.sh
Owners: none

Include OpenCL ICD loader in runtime container
  docker/run-ubuntu1804/Dockerfile
Owners: @ledettwy, @jchodor

Don't install irepo in runtime container (not needed)
  docker/run-ubuntu1804/Dockerfile
Owners: @ledettwy, @jchodor

Use devtool on linux
  ci-build-linux.sh
  docker/build-ubuntu1804/Dockerfile
Owners: @ledettwy, @jchodor

Command List Append Denial Tests
  conformance_tests/test_xe_cmdlist/src/test_xe_cmdlist.cpp
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_cmdlist.hpp
  utils/xe_test_harness/src/xe_test_harness_cmdlist.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Multiple Fence Signaling Tests
  conformance_tests/test_xe_fence/src/test_xe_fence.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Warn developers not to use devtool in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Adding .vscode/ to gitignore
  .gitignore
Owners: none

Adding opencl interop tests
  conformance_tests/test_xe_cl_interop/CMakeLists.txt
  conformance_tests/test_xe_cl_interop/kernels/xe_bitonic_sort.cl
  conformance_tests/test_xe_cl_interop/kernels/xe_bitonic_sort.spv
  conformance_tests/test_xe_cl_interop/src/test_xe_cl_interop.cpp
  utils/xe_test_harness/CMakeLists.txt
  utils/xe_test_harness/include/xe_test_harness/xe_test_harness_ocl_interop.hpp
  utils/xe_test_harness/src/xe_test_harness_ocl_interop.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Install text_xe_ipc_helper to prefix
  conformance_tests/CMakeLists.txt
  conformance_tests/test_xe_ipc/CMakeLists.txt
  conformance_tests/test_xe_ipc/src/test_xe_ipc.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger

Include VC runtime libraries in output
  CMakeLists.txt
  cmake/vs2019_missing_redist_workaround.cmake
  conformance_tests/CMakeLists.txt
  perf_tests/CMakeLists.txt
Owners: @ledettwy, @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger, @rwmcguir, @sanchez1

fix typo in kernel/function name
  conformance_tests/test_xe_barrier/src/test_xe_barrier.cpp
Owners: @nrspruit, @jarteaga, @jlockett, @byates, @johnfalk, @pjreger
